<%= render 'static/menu' %>

<div>
	<img  src = "assets/Beneficiaire_title.png" />
	<br/>
	
	<a href="/home" class="btn btn-large">
		<i class="icon-backward"></i>
	</a>
	
	
	<a href="beneficiaires/new" class="btn btn-large">
		<i class="icon-plus"></i>		  	
			  Nouveau B&eacute;n&eacute;ficiaire
	</a>
</div>

<br/>
      		

<table class="table table-condensed table-bordered table-striped ">
  <tr>
    <th>Nom</th>
    <th>Prenom</th>
    <th>Date de Naissance</th>
    <th>D&eacute;partement</th>
    <th>Adresse</th>
    <th>Code postal</th>
    <th>Ville</th>
    <th>T&eacute;l&eacute;phone Fixe</th>
    <th>T&eacute;l&eacute;phone Portable</th>
    
  </tr>

<% @beneficiaires.each do |beneficiaire| %>
  <tr>
    <td><%= link_to beneficiaire.nom, beneficiaire %></a></td>
    <td><%= beneficiaire.prenom %></td>
    <td><%= beneficiaire.date_naiss.strftime('%d/%m/%Y') %></td>
    <td><%= beneficiaire.dept_naiss %></td>
    <td><%= beneficiaire.adresse %></td>
    <td><%= beneficiaire.code_pos %></td>
    <td><%= beneficiaire.ville %></td>
    <td><%= beneficiaire.fixe %></td>
    <td><%= beneficiaire.portable %></td>
    
    
  </tr>
<% end %>
</table>

<br />


