<%= render 'static/menu' %>
<p id="notice"><%= notice %></p>
<div>
	<img src="/assets/antennes_title.png" />
	<br/>
	<a class = "btn btn-large" href="/antennes"><i class="icon-backward"></i>  </a>	
	<a class="btn btn-large" href = <%= edit_antenne_path(@antenne) %>> Editer</a>
	<div class="btn btn-large" > 
		<i class="icon-remove"></i>
		<%= link_to '', @antenne, method: :delete, data: { confirm: 'Etes vous sure?' } %>
		
	</div>
	
<div/>
<br/>

<div class="span6"> 
	<table class="table table-bordered table-condensed table-striped">
		<tr>	
			<th>Nom</th>
			
		</tr>
		
		<tr>
			<td><%= @antenne.nom%></td>
			
		</tr>
	</table>
	<br />
	<table class="table table-bordered table-condensed table-striped">	
			<th>Adresse</th>
			<th>Code Postal</th>
			<th>Ville</th>
		<tr>
			<td><%= @antenne.adresse%></td>
			<td><%= @antenne.code_pos%></td>
			<td><%= @antenne.ville%></td>
		</tr>
	</table>
	<br />
	<table class="table table-bordered table-condensed table-striped">		
		<th>T&eacute;l&eacute;phone</th>
		<th>Email</th>
		<tr>	
			<td><%= @antenne.telephone%></td>
			<td><%= @antenne.mail%></td>
		</tr>
	</table>		

</div>


		

